:root {
  --page-background-color: #ffffff;
  --active-items-color: #ff6c00;
  --team-background-color: #f7f7f7;
  --contacts-background-color: #191c26;
  --transition: 300ms linear;
  /* Dark-version */
  --title-dark-version-color: #ffffff;
  --suptitle-dark-version-color: #9da4bd;
  --text-dark-version-color: #9da4bd;
  --button-dark-version-color: #ffffff;
  /* Light-version */
  --title-light-version-color: #303030;
  --suptitle-light-version-color: #303030;
  --text-light-version-color: #555555;
  --button-light-version-color: #303030;
  /* Font-family */
  --primary-font-family: "Open Sans", sans-serif;
  --title-font-family: "Raleway", sans-serif;
}
/* ========== COMMON ========== */
/* 
* {
  outline: 2px solid tomato;
} */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 120px 15px;
}

.list {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}

.link {
  text-decoration: none;
  display: block;
}

.image {
  display: block;
}

h1,
h2 {
  font-family: var(--title-font-family);
}

.subtitle {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--suptitle-light-version-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.subtitle::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;

  background-color: currentColor;
}

.dark-version-subtitle {
  color: rgba(157, 164, 189, 0.6);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.title {
  margin: 0 0;

  color: var(--title-light-version-color);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.dark-version-title {
  color: var(--title-dark-version-color);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.text {
  margin: 0 0;

  color: var(--text-light-version-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.dark-version-text {
  color: var(--text-dark-version-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.dark-version-button {
  padding: 12px 20px;

  color: var(--title-dark-version-color);
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border-radius: 25px;
  border: 2px solid var(--active-items-color);
  display: block;
  cursor: pointer;

  transition: color var(--transition), background-color var(--transition);
}

.light-version-button {
  padding: 12px 20px;

  color: var(--button-light-version-color);
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border-radius: 25px;
  border: 2px solid var(--active-items-color);
  display: block;
  cursor: pointer;
  transition: color var(--transition), background-color var(--transition);
}

.dark-version-button:is(:hover, :focus),
.light-version-button:is(:hover, :focus) {
  color: var(--title-dark-version-color);
  background-color: #ff6c00;
}

/* ========== /COMMON ========== */

/* ========== BODY ========== */

body {
  font-family: var(--primary-font-family);
  background-color: var(--page-background-color);
}

/* ========== /BODY ========== */

/* ========== HEADER ========== */

.header {
  position: absolute;
  top: 32px;
  width: 100%;
}

.header-container {
  display: flex;
  padding: 0 15px;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 100px;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo-icon {
  display: block;
}

.header-menu-link {
  padding: 15px 0;

  color: var(--title-dark-version-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  transition: color var(--transition);
}

.header-menu-link:hover:is(:hover, :focus) {
  color: var(--active-items-color);
}

.header-tel {
  padding: 15px 0;
  margin-left: auto;
  margin-right: 43px;

  color: var(--title-dark-version-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  transition: color var(--transition);
}

.header-tel:is(:hover, :focus) {
  color: var(--active-items-color);
}

.header-button {
  margin-right: 17px;
}

/* ========== /HEADER ========== */

/* ========== HERO ========== */

.hero-container {
  display: flex;
  padding: 0 15px;
}

.hero-social-wrapper {
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;

  max-width: 100px;
}

.hero-social {
  display: flex;
  align-items: center;
  gap: 40px;

  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
}

.hero-social::before {
  content: "";
  width: 60px;
  height: 1px;

  background-color: #303030;
  flex-shrink: 0;
}

.hero-social-link {
  padding: 27px 0;

  color: var(--suptitle-light-version-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  transition: color var(--transition);
}

.hero-social-link:is(:hover, :focus) {
  color: var(--active-items-color);
}

.hero-content {
  padding: 272px 0 208px 100px;
  flex-grow: 1;

  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-subtitle {
  color: rgba(157, 164, 189, 0.6);
  line-height: 1.37;
}

.hero-title {
  margin-bottom: 20px;

  color: var(--title-dark-version-color);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.19;
  letter-spacing: 0.05em;
}

.hero-text {
  max-width: 360px;
}

/* ========== /HERO ========== */

/* ========== ABOUT ========== */

.about-container {
  display: flex;
  padding-right: 100px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-text-container {
  margin-left: 30px;
}

.about-text {
  margin-bottom: 42px;
}

.about-text-part {
  margin-top: 20px;

  color: var(--text-light-version-color);
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  display: inline-block;
}

.about-title {
  margin-bottom: 20px;
}

/* ========== /ABOUT ========== */

/* ========== SERVICES ========== */

.services {
  background-color: #111319;
  background-image: url(../img/services-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.services-title {
  margin-bottom: 44px;
}

.services-second-container {
  display: flex;
  gap: 30px;
}

.first-services-list {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 2);
  margin-bottom: 44px;
  padding: 30px 22px 30px 20px;
  gap: 20px;

  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.second-services-list {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 2);
  margin-bottom: 44px;
  padding: 30px 22px 30px 20px;
  gap: 20px;

  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.services-item {
  display: flex;
  gap: 12px;
}

.services-item::before {
  content: "";
  align-self: flex-end;
  margin-bottom: 8px;
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.services-text {
  order: -1;
}

.services-price {
  text-align: right;
  margin-left: auto;
}

.services-button {
  margin: 0 auto;
}

/* ========== /SERVICES ========== */

/* ========== FEATURES ========== */

.features-container {
  padding-left: 84px;
  padding-right: 116px;
  display: flex;
}

.features-second-container {
  width: 55%;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  margin-right: 130px;
  width: 45%;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 170px;
  padding: 20px;
  margin-bottom: 30px;

  background-color: #f7f7f7;
}

.features-item:nth-child(even) {
  margin-top: 30px;
  margin-bottom: 0;
}

.features-number {
  display: block;
  margin-top: 0;
  margin-bottom: 6px;

  color: var(--title-light-version-color);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.features-text {
  text-align: center;

  color: var(--title-light-version-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.features-title {
  margin-bottom: 20px;
}

/* ========== /FEATURES ========== */

/* ========== TEAM ========== */

.team {
  background-color: var(--team-background-color);
}

.team-title {
  margin-bottom: 44px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list-container {
  display: flex;
  padding: 30px 82px 0;
  flex-direction: column;
  align-items: center;
}

.team-social-list {
  display: flex;
  gap: 10px;
}

.team-social-link {
  padding: 12px;
  max-width: 44px;
  max-height: 44px;

  background-color: #ffffff;
  border-radius: 50%;
}

.team-social-icon {
  fill: #303030;
}

.team-social-link:is(:hover, :focus) .team-social-icon {
  fill: var(--active-items-color);
}

.barber-name {
  margin-bottom: 8px;

  color: var(--title-light-version-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
}

.barber-funktion {
  margin-bottom: 30px;

  color: #ff6c00;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
}

/* ========== /TEAM ========== */

/* ========== GALLERY ========== */

.gallery-subtitle {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  gap: 30px;
}

/* ========== /GALLERY ========== */

/* ========== CONTACTS ========== */

.contacts {
  background-color: var(--contacts-background-color);
  background-image: url(../img/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50% 100%;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  padding: 130px 15px 120px;
}

.booking-container {
  padding-left: 4px;
  padding-right: 25px;
  width: 50%;
}

.booking-title {
  margin-bottom: 44px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  row-gap: 44px;
}

.booking-form-inputs-wrap {
  display: flex;
  gap: 30px;
}

.booking-form-label {
  width: calc(50% - 15px);
}

.booking-form-input {
  padding: 0;
  padding-bottom: 8px;

  color: #ffffff;
  width: 100%;

  background-color: transparent;
  outline: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.booking-form-input:focus {
  border-bottom: 1px solid #ffffff;
}

.booking-form-input:not(:focus):not(:placeholder-shown):invalid {
  border-bottom: 1px solid red;
}

.booking-form-input::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.booking-form-input:focus::placeholder {
  color: #ffffff;
}

.booking-form-label-message {
  width: 100%;
}

.booking-form-textarea {
  padding: 0;

  width: 100%;
  height: 76px;
  color: #ffffff;

  resize: none;
  outline: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.booking-form-textarea:focus {
  border-bottom: 1px solid #ffffff;
}

.booking-form-textarea::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.booking-form-textarea:focus::placeholder {
  color: #ffffff;
}

.booking-button {
  align-self: flex-start;
  padding: 12px 62px;
}

.contacts-second-container {
  padding-left: 100px;
  width: 50%;
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-enumeration {
  margin-bottom: 70px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts-address {
  color: var(--text-dark-version-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--transition);
}

.contacts-tel {
  color: var(--text-dark-version-color);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--transition);
}

.contacts-mail {
  color: var(--text-dark-version-color);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  transition: color var(--transition);
}

.contacts-address:is(:hover, :focus),
.contacts-tel:is(:hover, :focus),
.contacts-mail:is(:hover, :focus) {
  color: var(--active-items-color);
}

/* ========== /CONTACTS ========== */

/* ========== FOOTER ========== */

.footer-container {
  display: flex;
  padding: 0 15px;
  align-items: center;
}

.footer-social {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 40px;
}

.footer-social::before {
  content: "";
  width: 60px;
  height: 1px;

  background-color: #303030;
}

.footer-social-link {
  padding: 56px 0;

  color: var(--suptitle-light-version-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  transition: color var(--transition);
}

.footer-social-link:is(:hover, :focus) {
  color: var(--active-items-color);
}

.copyright {
  margin: 0 0;

  color: var(--text-dark-version-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

/* ========== /FOOTER ========== */
